.constituency {
  fill-opacity: 0.5;
}

.constituency-map {
  padding-top: 3em;
}

.constituency:hover {
  fill-opacity: 1;
  stroke: gray;
  stroke-width: 3px;
  transition: 0.5s;
}

%map-part-base {
  fill-opacity: 1;
  stroke: silver;
  stroke-width: 1px;
}

.map-part-active {
  @extend %map-part-base;
  animation: opacity-change 0.5s;
}

.map-part-active-no-animation {
  @extend %map-part-base;
}

@keyframes opacity-change {
  0% {
    fill-opacity: 0.2;
    stroke-width: 3px;
  }
  20% {
    fill-opacity: 0.3;
    stroke: gray;
    stroke-width: 2px;
  }
  40% {
    fill-opacity: 0.6;
    stroke: gray;
    stroke-width: 1px;
  }
  60% {
    fill-opacity: 0.8;
    stroke: silver;
    stroke-width: 1px;
  }
  100% {
    fill-opacity: 1;
  }
}
