body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-popup {
	position: absolute;
  text-align: center;
	margin-bottom: 20px;
}
  
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
}

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1;
  color: black;
  font-size: 1.4em;
  font-weight: bold
}

