.container {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  text-align: left;
}

.navbar-brand a {
  color: white !important;
}
  
.navbar-brand a:hover {
  color: #5289ff !important;
}

.timeline {
  margin-bottom: 0rem;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1440px;
  }
}


@media (min-width: 992px) {
  .container {
      max-width: 95%;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 95%;
  }
}

@media (min-width: 576px) {
  .container {
      max-width: 95%;
  }
}