.container {
  margin-top: 1rem;
  text-align: left;
}

.navbar-brand a {
  color: white !important;
}
  
.navbar-brand a:hover {
  color: #5289ff !important;
}

.timeline {
  margin-bottom: 0rem;
}

$smallScreenWidth: 95%;

@media (min-width: 1200px) {
  .container {
      max-width: 1440px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: $smallScreenWidth;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: $smallScreenWidth;
  }
}

@media (min-width: 576px) {
  .container {
      max-width: $smallScreenWidth;
  }
}

.constituency {
  fill-opacity: 0.5;
}

.constituency:hover {
  fill-opacity: 1;
  stroke: gray;
  stroke-width: 3px;
  transition: 0.5s;
}

.map-part-active {
  fill-opacity: 1;
  animation: opacity-change 1.5s;
  stroke: silver;
  stroke-width: 1px;
}

@keyframes opacity-change {
  0% {
    fill-opacity: 0.2;
    stroke-width: 3px;

  }
  20% {
    fill-opacity: 0.3;
    stroke: gray;
    stroke-width: 2px;
  }
  40% {
    fill-opacity: 0.6;
    stroke: gray;
    stroke-width: 1px;
  }
  60% {
    fill-opacity: 0.8;
    stroke: silver;
    stroke-width: 1px;
  }
  100% {
    fill-opacity: 1;
  }
}

.event {
  transition: 0.5s;
}

.event:hover {
  fill-opacity: 1;
  stroke: gray;
  stroke-width: 1px;
}

.recharts-cartesian-axis {
  font-size: 70%;
}

