.ministeri {
    text-align: left;
    float: right;
    margin: 0 auto;
    font-size: 23px;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 740px;
    height: 640px;
    overflow-y: scroll; 
    text-align:justify;
    
}
.ministeri div {

  padding-left: 3%;
  font-style: italic;
  padding-bottom: 2px;
  background: lightyellow;
  border: 2px solid #ccc;
  border-radius: 4px;
  
}
details summary::-webkit-details-marker {
  display:none;
}

.hallitustiedot {
  //  background: rgb(44, 250, 240);
    float: left;
    padding: 2%;
    font-size: 23px;
    font-weight: bold;
    
}


.paaministerikuva {
  display: block;
  max-width: 80%;
  max-height: 15em;
  margin-top: 5%;
  border: 8px ridge rgb(170, 118, 51);
  box-shadow: 3px 3px 5px grey;
}

button {
    margin-bottom: 3%;
    font-size: 75%;
    
}

summary {
 background: rgb(120, 185, 250);
 border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding-left: 3%;
  font-style: italic;
  padding-bottom: 2px;
  padding-right: 3px;
  list-style-type: none;
}

details p {
  line-height: 80%;
  margin: 0;
  padding: 1%;
  background: rgb(28, 229, 255);
}