.timeline {
  margin-bottom: 0rem;
}

.event {
  transition: 0.5s;
}

.event:hover {
  fill-opacity: 1;
  stroke: gray;
  stroke-width: 1px;
}

.timeline-event-text {
  font-size: 2.5em;
  transform: translateY(3em);
}

.timeline-container {
  height: 12em;
  margin-top: 2%;
}

$timeline-lineColor: rgb(54, 54, 54);
$timeline-lineWidth: 0.4em;
.timeline-line {
  stroke: $timeline-lineColor;
  stroke-linecap: round;
  stroke-width: $timeline-lineWidth;
}

.timeline-mainline {
  stroke-width: $timeline-lineWidth;
  stroke: $timeline-lineColor;
}

$timeline-year-shadow: 1px 1px 3px rgb(158, 158, 158);
.timeline-year {
  font-size: 3em;
  text-shadow: $timeline-year-shadow;
}

.timeline-event-circle {
  filter: url("#dropshadow");
}

@media (max-width: 1200px) {
  .timeline-container {
    height: 10em;
  }
  .timeline-year {
    font-size: 3.5em;
    text-shadow: $timeline-year-shadow;
  }
  .timeline-event-text {
    margin-top: 1em;
    transform: translateY(3em);
  }
}

@media (max-width: 992px) {
  .timeline-container {
    height: 8em;
  }
  .timeline-year {
    font-size: 4em;
  }
  .timeline-event-text {
    font-size: 3em;
    transform: translateY(2em);
  }
}

@media (max-width: 768px) {
  .timeline-container {
    height: 8em;
  }
  .timeline-year {
    font-size: 6em;
    text-shadow: $timeline-year-shadow;
    transform: translateY(-0.25em);
  }
  .timeline-event-text {
    font-size: 3.75em;
    transform: translateY(1em);
  }
}
